<main>
  <nav class="flex-container">
    <ul>
    @for (natureList of natureMenuData | keyvalue; track natureList.key) {
      <li class="menu-item menu-item-main">
        <a href="#" (click)="$event.preventDefault(); displayCreatureDropdown(natureList.key)">{{
          natureList.key
        }}</a>
        
      @if(isCreatureDropdownVisible){
      <li class="outer-creature-dropdown">
        <ul class="inner-creature-dropdown">
          @for (creature of natureList.value | keyvalue; track creature.key) {
          @if(natureList.key === currentSelectedNature){
            <li class="menu-item menu-item-sub">
              <a href="#" (click)="$event.preventDefault(); displayCreatureInfo(creature.key)">{{
                creature.value
              }}</a>
            </li>
          } }
        </ul>
      </li>
      }
      </li>
    }
    </ul>
  </nav>
  
  @if(isCreatureDropdownVisible) {
    <div class="backdrop" (click)="onCloseCreatureDropdown()" aria-hidden="true"></div>
  }
  <article class="creature-info">
    @if(isCreatureInfoShowing && selectedCreature !== undefined){
    <app-creature-display-component
      [creatureInfo]="selectedCreature"
    ></app-creature-display-component>
    }
  </article>
  <p class="trademark">{{ dummyTrademark }}</p>
</main>
