/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: almendra-display;
    src: url(https://fonts.google.com/specimen/almendra-display);
    font-weight: bold;
}

/*FONT*/
.almendra-display-regular {
  font-family: "Almendra Display", serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 2rem;
}



/*Main*/

main{
    width: 87.5rem;
    max-width: 87.5rem;
    
    padding-left: 13rem;
}


main > hr {
    width: 93.5rem;
}



/*Main-Component (manages the 'bestiary' title and border)*/
.main-component {
      
      width: 89.5rem;
      border-radius: 1rem;
      padding-left: 14.5rem;
     
}

.main-component > ol{
    font-size:5.25rem;
    text-align: center;
    font-weight: lighter;
    color: black;
}


.main-component > hr{
    border-top: solid;
    border-bottom: none;
    background-color: bisque;
    width:78.5rem;
    padding-left: 14rem;
    position: absolute;
    top: 12rem;
    left: 13.8rem;
    
}


/* FLEX-CONTAINER*/

.flex-container{
    
    display: flex;
    margin-left: 2rem;                                                                 
    padding-left: 20rem;
    background-color: #eee;
    border-bottom: solid;
    width: 68.8rem;
    
    
}

.flex-container > div {
    
   margin: 0.625rem;
  padding: 1.25rem; 
  
}

/*.SPECIES*/
.species{
    position: relative;
    
}

 .species > ol {
  background-color: #eee;
  color: #444;
  margin-bottom: 0rem;
  padding: 1.125rem;
  text-align: left;
  outline: none;
  font-size: 1.5rem;
  width: 8rem;
  margin-top: 0rem;


}

.species > ol:hover {
  background-color: #ccc; 
}

.species > ul{
    animation: growDown 300ms ease-in-out forwards;
   
}


/*CREATURE-DROPDOWN*/
.creature-dropdown{
    position: absolute;
    column-count: 2;
    column-gap: 0px;
}

.creature-dropdown > ul:hover {
  background-color: rgba(131, 120, 120, 0.781); 
}

.creature-dropdown > ul{
  padding: 1.125rem;
  border-bottom: solid;
  background-color: rgba(175, 161, 161, 0.781);
  overflow: hidden;
  margin: 0rem;
  width: 8rem;
  text-wrap: nowrap;
}

 


li {
    list-style-position: inside;
}




body {
    background-color: #D1C8AD;
    width: auto;
    cursor: pointer;
}

title{
    font-family: Almendra Display;
}


p{
    color: black;
    
}

ol, ul, p{
   font-family: serif; 
}


/*DISPLAY-COMPONENT*/

.display-component{
    
    margin-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 4rem;  
    border: 0.2rem;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    background-color: white;
    width: 87.5rem;

}

.display-component > ol, p {
    padding-left: 2rem;
    
   
}

.display-component > li{
     padding-right: 100rem;
     
}

.display-component > ul {
font-size: 2rem;
width: 86.3rem;
}

.display-component > li{
    margin-left: 0.5rem;
}
.display-component > p{
    font-size: 1rem;
}


/*KEYFRAME ANIMATION*/
@keyframes growDown {
     0% {
        transform: scaleY(0);
        
    }
     80% {
        transform: scaleY(1.1);
        
    }
    100% {
        transform: scaleY(1);
        
    }
}


.bottom-border{
    border-top: solid;
    width: 89.5rem;
    border-radius: 1rem;
    padding-top: 4rem;
}






article {
     max-width: 33%;
     font-family: almendra-display;     
}

.creature-info{
    margin-left: 1rem;
    margin-right: -1rem;
    margin-top: 1rem;
}


/*TRADEMARK*/
.trademark{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-style: normal;
    color: black;
    text-align: center;
}



     

/* Mobile view*/
@media (min-resolution: 1.1dppx) or (max-width:1200px){
    
    main{
        padding-left: 0rem;
    }

    .main-component{
        position: relative;
        padding-left: 0rem;
    }
    
    .flex-container{
        display: grid;
        background-color: #D1C8AD;
        padding-left: 0rem;
        width: 0rem;
       
    }

    nav{
        padding-top: 10px;
    }

    article{
        
    }

    .species > ol {
        width: auto;
    }

     .creature-info{
     }

     .creature-dropdown{
        position: relative;
        column-count: 2;
     }

     .creature-dropdown > ul {
        padding-right: 0%;
    }

   

     .display-component{
    
    margin-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 4rem;  
    border: 0.2rem;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    background-color: white;
    width: auto;

}

.display-component > ol, p {
    padding-left: 2rem;
    
   
}


.display-component > ul {
font-size: 20px;
text-wrap: wrap;

}

.display-component > li{
    margin-left: 0.5rem;
}
.display-component > p{
    font-size: 10px;
}

li{
font-size: 20px;
     text-wrap: wrap;
}

    
}


