/*Main*/
:root {
  --layout-width: 87.5rem;
}

html {
  font-size: 24px;
  font-family: serif;
  color: black;
}

body {
  background-color: #d1c8ad;
}

/* FLEX-CONTAINER*/

.flex-container {
  display: flex;
  margin-left: 2rem;
  padding-left: 20rem;
  background-color: #eee;
  border-bottom: solid;
}

.flex-container > div {
  margin: 0.625rem;
  padding: 1.25rem;
}

/*.SPECIES*/
.species {
  position: relative;
}

.species > ol {
  background-color: #eee;
  color: #444;
  margin-bottom: 0rem;
  padding: 1.125rem;
  text-align: left;
  outline: none;
  width: 8rem;
  margin-top: 0rem;
}

.species > ol:hover {
  background-color: #ccc;
}

.species > ul {
  animation: growDown 300ms ease-in-out forwards;
}

/*CREATURE-DROPDOWN*/
.creature-dropdown {
  position: absolute;
  column-count: 2;
  column-gap: 0px;
}

.creature-dropdown > ul:hover {
  background-color: rgba(131, 120, 120, 0.781);
}

.creature-dropdown > ul {
  padding: 1.125rem;
  border-bottom: solid;
  background-color: rgba(175, 161, 161, 0.781);
  overflow: hidden;
  margin: 0rem;
  width: 8rem;
  text-wrap: nowrap;
}

li {
  list-style-position: inside;
}

/*DISPLAY-COMPONENT*/

.display-component {
  padding: 1.5rem 1rem 4rem 1rem;
  border: 0.2rem;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  background-color: white;
  white-space: pre-line;
}

.display-component > ol,
p {
  padding-left: 2rem;
}

.display-component > li {
  padding-right: 100rem;
}

.display-component > ul {
  font-size: 1.5rem;
}

.display-component > li {
  margin-left: 0.5rem;
}

/*KEYFRAME ANIMATION*/
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.bottom-border {
  border-top: solid;
  border-radius: 1rem;
  padding-top: 4rem;
}

.creature-info {
  margin-top: 1rem;
}

/*TRADEMARK*/
.trademark {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-style: normal;
  color: black;
  text-align: center;
  font-size: calc(5rem / 6);
}

/* Mobile view*/
/* @media (min-resolution: 1.1dppx) or (max-width:1200px){
    
    main{
        padding-left: 0rem;
    }

    .main-component{
        position: relative;
        padding-left: 0rem;
    }
    
    .flex-container{
        display: grid;
        background-color: #D1C8AD;
        padding-left: 0rem;
        width: 0rem;
       
    }

    nav{
        padding-top: 10px;
    }

    article{
        
    }

    .species > ol {
        width: auto;
    }

     .creature-info{
     }

     .creature-dropdown{
        position: relative;
        column-count: 2;
     }

     .creature-dropdown > ul {
        padding-right: 0%;
    }

   

     .display-component{
    
    margin-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 4rem;  
    border: 0.2rem;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    background-color: white;
    width: auto;

}

.display-component > ol, p {
    padding-left: 2rem;
    
   
}


.display-component > ul {
font-size: 20px;
text-wrap: wrap;

}

.display-component > li{
    margin-left: 0.5rem;
}
.display-component > p{
    font-size: 10px;
}

li{
font-size: 20px;
     text-wrap: wrap;
}

    
}

 */
