/** Main*/
html {
  font-size: 24px;
  font-family: serif;
  color: black;
}

body {
  background-color: #d1c8ad;
  margin: 0;
  overflow-x: hidden;
}


.main-component > h1 {
  text-align: center;
}

.display-component > h1 {
  margin-bottom: 0;
}

/** NATURE & SPECIES MENU */

.flex-container {
  display: flex;
  background-color: #eee;
  border-bottom: solid;
}

.flex-container > ul {
  margin: 0.625rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.backdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  cursor: pointer;
}

li.menu-item {
  list-style: none;
  width: 8rem;
  height: 2.75rem;
  text-wrap: nowrap;
}
li.menu-item > a {
  color: inherit;
  text-decoration: inherit;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
li.menu-item > a:focus-visible {
  color: magenta !important;
  outline: 2px solid magenta;
  overflow: hidden;
}

li.menu-item.menu-item-main > a, li.menu-item.menu-item-main > a:hover:focus-visible {
  background-color: #eee;
  color: #444;
}
li.menu-item.menu-item-main > a:hover {
  background-color: #ccc;
}

li.menu-item.menu-item-sub > a {
  opacity: 0.781;
}
li.menu-item.menu-item-sub > a, li.menu-item.menu-item-sub > a:hover:focus-visible {
  border-bottom: solid;
  background-color: rgba(175, 161, 161);
}

li.menu-item.menu-item-sub > a:hover {
  background-color: rgba(131, 120, 120);
}

li.nature {
  position: relative;
  margin: 0;
  padding: 0;
}

.outer-creature-dropdown {
  animation: growDown 300ms ease-in-out forwards;
  position: relative;
  z-index: 5;
}

.flex-container li.menu-item-main:nth-child(n + 4) > .outer-creature-dropdown {
  right: 8rem;
}

/** CREATURE-DROPDOWN */
.inner-creature-dropdown {
  column-count: 2;
  column-gap: 0px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 16rem;
  z-index: 10;
}

.inner-creature-dropdown li {
  flex: 1 1 50%;
}

.creature-info {
  display: flex;
  margin: 1rem 0.5rem;
  justify-content: center;
}

.creature-info li {
  list-style-position: inside;
}

/** DISPLAY-COMPONENT */

.display-component {
  padding: 1.5rem 2rem 4rem;
  margin: 0 8rem;
  border: 0.2rem;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  background-color: white;
  white-space: pre-line;
  max-width: 1920px;
}

.display-component-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}

.display-component-content > ul, .display-component-content > p {
  flex: 1 1 auto;
  flex-basis: 17rem;
}

.display-component-content > ul {
  font-size: 1.5rem;
  flex-grow: 0;
  flex-basis: 24rem;
  padding-left: 0;
}

/** KEYFRAME ANIMATION */
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

/** TRADEMARK*/
.trademark {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-style: normal;
  color: black;
  text-align: center;
  font-size: calc(5rem / 6);
  word-break: break-word;
}

.redirect { 
  text-align: center;
  color: black;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 0.75rem;
  width: 100%;
}

.redirect a {
  flex: 1 1 auto;
  position: relative;
  z-index: 1;
}


.redirect   a, .redirect   a:visited {
  color: black;
}

.redirect a.k:hover {
  color: #ff7799
}

.redirect a.w:hover {
  color: #77ff99
}

/** Halfway breakpoint */
@media (max-width: 1440px){
  .display-component {
    margin: 0;
    padding: 0.75rem 1rem 2rem;
  }

  .display-component-content > ul {
    width: auto;
    flex-basis: auto;
    font-size: 1rem;
    padding: 0;
  }
  
  .flex-container li.menu-item-main > .outer-creature-dropdown {
    left: -4rem;
  }
  
}

@media (max-width: 768px){
  html {
    font-size: 16px;
  }
  
  .display-component-content > ul {
    width: auto;
    font-size: 1rem;
    padding: 0;
  }

  .display-component-content > p {
    text-align: center;
  }
  
  .flex-container > ul {
    width: auto;
    font-size: 1rem;
    padding-left: 0;
    margin: 0;
  }

  .outer-creature-dropdown {
    position: absolute;
    left: 0 !important;
    right: 0 !important;
  }

  .inner-creature-dropdown {
    width: inherit;
  }

  li.menu-item.menu-item-sub > a {
    opacity: 0.95;
  }

  li.nature {
    flex: 1 0 auto;
    width: 100%;
  }
}
