/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: almendra-display;
    src: url(https://fonts.google.com/specimen/almendra-display);
    font-weight: bold;
}


main{
    display: flex;
    flex-flow: row wrap;
}

li {
    list-style-position: inside;
}

.almendra-display-regular {
  font-family: "Almendra Display", serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 32px;
}


body {
    background-color: #D1C8AD;
    width: auto;
    cursor: pointer;
}

title{
    font-family: Almendra Display;
}


p{
    font-family: Almendra Display;
    color: #7500fa;
}

h1, h2, p{
   font-family: Almendra Display; 
   animation: growDown 300ms ease-in-out forwards;
   position: relative;

   
}



@keyframes growDown {
     0% {
        transform: scaleY(0);
        
    }
     80% {
        transform: scaleY(1.1);
        
    }
    100% {
        transform: scaleY(1);
        
    }
}

.flex-container{
    display: flex;
    flex-flow: row wrap;     
        
}

.flex-container > div {
    
   margin: 0.625rem;
  padding: 1.25rem; 
}


article {
     max-width: 33%;
     font-family: almendra-display;     
}

.creature-info{
    margin-left: 1rem;
    margin-right: -1rem;
    margin-top: 1rem;
}

.display-component{
    
    border: 0.2rem;
    border-style: solid;
    border-color: black;
    flex-flow: column wrap;
    background-color: white;
     }

     

/* Mobile view*/
@media (min-resolution: 1.1dppx) or (max-width:1200px){
    
    main{
       min-width: 100%;
    }
    
    
    .flex-container{

        flex-flow: column wrap;
        
        min-width: 80%;
        max-width: 80%;
        
    }

    article{
        min-width: 100%;
    }

     .creature-info{
        
        border-top: none;
        margin-top: 1rem;
        margin: auto;
        min-width: 100%;
        
     }

     .display-component{
    
    border: 0.2rem;
    border-style: solid;
    border-top: none;
    border-color: black;
    flex-flow: column wrap;
    background-color: white;
     }
    
    h1, h2, p{
   
   min-width: 100%;
   
}


    
}


